@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('./JosefinSans-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}



body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(./cafe-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-family: 'JosefinSans', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #79573b;
    font-size: 5vw;
    padding-top: 16px;
    margin: 0;
    background-color: #000000e0;
}

h3 {
    margin: 0 0 12px;
    padding: 0 0 6px;
    border: 0;
    background-color: #000000e0;
    color: white;
    text-align: center;
    font-size: calc(10px + 1vw);
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    margin: 0;
    padding: 15px;
    background-color: #000000e5;
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    max-width: 600px;
}

.hours {
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    background-color: #000000e5;
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    max-width: 100vw;
}

ul li {
    min-width: 600px;
    text-align: center;
}

h4 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
}

.location {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000000e5;
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    width: 100vw;
    max-width: 600px;
}

.location p {
    background: none;
    text-align: center;
    padding: 0;
}

.footer {
    font-size: 10px;
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    width: 180px;
}