@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('./JosefinSans-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(./cafe-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #876750;
    height: 40px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(14px + 0.8vw);
    outline-style: none;
    border-style: none;
    height: 40px;
    width: 130px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #000000f0;
    color: #876750;
}

h1 {
    font-family: 'JosefinSans', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #79573b;
    font-size: calc(8px + 4.3vw);
    padding-top: 16px;
    margin: 0;
    background-color: #000000f0;
}

h3 {
    margin: 0;
    padding: 0 0 6px;
    border: 0;
    background-color: #000000f0;
    color: white;
    text-align: center;
    font-size: calc(10px + 0.6vw);
}

h4 {
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
    word-spacing: 4px;
    margin: 0;
    padding: 15px 40px;
    /* background-color: #000000f0; */
    background-image: url(./wood.png);
    color: #ffffff;
    font-size: calc(12px + 0.5vw);
}

/* HOME PAGE STYLING */
.content {
    margin-top: 20px;
    display: grid;
    grid-template: 2fr 3fr 1fr / 1fr 4fr 1fr;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.intro {
    grid-area: 1 / 2;
    max-width: 600px;
}

.hours {
    grid-area: 2 / 2;
    max-width: 600px;
}

table {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px 0;
    /* background-color: #000000f0; */
    background-image: url(./wood.png);
    width: 100vw;
    font-size: calc(12px + 0.5vw);
    min-width: 500px;
    max-width: 600px;
    color: #ffffff;
    word-spacing: 10px;
    letter-spacing: 1px;
}

caption {
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

th {
    text-align: start;
}

tr {
    padding: 0 125px;
    display: flex;
    justify-content: space-between;
}

.location {
    grid-area: 3 / 2;
    margin-bottom: 5px;
    padding: 15px 0;
    /* background-color: #000000f0; */
    background-image: url(./wood.png);
    font-size: calc(12px + 0.9vw);
    width: 100vw;
    max-width: 600px;
}

.location p {
    background: none;
    padding: 0;
}


/* MENU PAGE STYLING  */
.menuContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.cardColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 480px;
    height: 350px;
    background-image: url(./wood.png);
}


.cardColumn h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 10px;
    font-size: 1.6em;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    padding-right: 25px;
    padding-left: 0px;
    list-style: none;
    color: wheat;
    font-size: 1.1em;
    word-spacing: 3px;
    letter-spacing: 1px;
}


h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    border: 0;
    background-color: #000000f0;
    color: white;
    text-align: unset;
    font-size: calc(14px + 0.2vw);
    height: 25px;
}

/* MENU DRINKS */
.drinks {
    background-image: url(./drinks.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 270px;
    width: 203px;
}

.drinks2 {
    background-image: url(./drinks2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 270px;
    width: 180px;
}

/* MENU SPECIALS */
.card.special {
    display: grid;
    grid-template: 3fr 1fr 2fr / 1fr;
}

.card.special p {
    background: none;
    color: #f5deb3;
    margin: 0;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 1.1em;
}

.specialty {
    margin-top: 10px;
    background-image: url(./specialty.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 200px;
    width: 300px;
}

.card.special h3 {
    background: none;
    color: #f5deb3;
    font-size: 1.3em;
    text-decoration: underline;
    padding-bottom: 0;
}

.card > :first-child:is(.specialty) + h3 + p {
    color: white;
    margin-bottom: 10px;
}

.card.special.second {
    display: grid;
    grid-template: 3fr repeat(4, 1fr) / 1fr;
}

.specialty2 {
    margin-top: 10px;
    background-image: url(./specialty2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 200px;
    width: 267px;
}


/* MENU DESSERTS */
.cake {
    background-image: url(./cake.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 277px;
    width: 185px;
}

.card.dessert {
    grid-template: 1fr / 215px 1fr;
}

.cake + ul li {
    margin-bottom: 20px;
}

.card.dessert2 {
    display: grid;
    grid-template: 3fr 1fr / 1fr;
}

.scones {
    background-image: url(./scones.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 293px;
    width: 390px;
    margin-top: 10px;
}


/* FOOTER STYLING */
.footer {
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    height: 75px;
    align-items: flex-end;
    justify-content: center;
}

.footer p {
    background: none;
    font-size: 12px;
    padding: 5px;
}

.footer a {
    text-decoration: none;
}


