@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: url('./JosefinSans-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(./cafe-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #876750;
    height: 40px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(14px + 0.8vw);
    outline-style: none;
    border-style: none;
    height: 40px;
    width: 130px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #000000f0;
    color: #876750;
}

h1 {
    font-family: 'JosefinSans', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #79573b;
    font-size: 5vw;
    padding-top: 16px;
    margin: 0;
    background-color: #000000f0;
}

h3 {
    margin: 0;
    padding: 0 0 6px;
    border: 0;
    background-color: #000000f0;
    color: white;
    text-align: center;
    font-size: calc(8px + 1vw);
}

h4 {
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: underline;
}

.content {
    margin-top: 20px;
    display: grid;
    grid-template: 2fr 3fr 1fr / 1fr 4fr 1fr;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.intro {
    grid-area: 1 / 2;
    max-width: 600px;
}

p {
    text-align: center;
    word-spacing: 4px;
    margin: 0;
    padding: 15px;
    background-color: #000000f0;
    color: #ffffff;
    font-size: calc(12px + 0.6vw);
}

.hours {
    grid-area: 2 / 2;
    max-width: 600px;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 15px 0;
    background-color: #000000f0;
    width: 100vw;
    font-size: calc(12px + 0.6vw);
    min-width: 500px;
    max-width: 600px;
    color: #ffffff;
    word-spacing: 10px;
    letter-spacing: 1px;
}

caption {
    color: #f5deb3;
    font-size: calc(12px + 0.9vw);
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

th {
    text-align: start;
}

tr {
    gap: 70px;
    display: flex;
    justify-content: space-between;
}

.location {
    grid-area: 3 / 2;
    margin-bottom: 5px;
    padding: 15px 0;
    background-color: #000000f0;
    font-size: calc(12px + 0.9vw);
    width: 100vw;
    max-width: 600px;
}

.location p {
    background: none;
    padding: 0;
}


.footer {
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    height: 75px;
    align-items: flex-end;
    justify-content: center;
}

.footer p {
    background: none;
    font-size: 12px;
    padding: 5px;
}

.footer a {
    text-decoration: none;
}